/* Dynamicly changed css-classes*/
/* Exempel 2 */

.jsBadContrast
{
	color:red;
	background-color:#999933;
}

.jsInfo
{
	height:100px;
	width:200px;
	border:1px solid black;
	position:absolute;
	background:white;
}